@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::backdrop {
  background-image: linear-gradient(
          45deg,
          #ffffff,
          #000000
  );
  opacity: 0.75;
}

.waiting-box {
  background: transparent;
  color: white;
}

.leaflet-container {
    height: 100vh;
    width: 100wh;
}